<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/merchants_and_tags.css">
  <link rel="stylesheet" href="/header_and_nav.css">
  <link rel="stylesheet" href="/budget.css">
  <link rel="stylesheet" href="/transactions.css">
  <title>Coin-Grabber</title>
</head>
<body>
  <header>
    <h1>COIN-GRABBER</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/transactions/new">Add a Transaction</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/budget">Current Budget</a></li>
      <li><a href="/merchants_and_tags">Merchants and Tags</a></li>

    </ul>
  </nav>

  <main>
    <%= yield %>
  </main>
</body>
</html>
