<br>

<form action="/hogwarts" method="post">
  <label for="first_name">First Name: </label>
  <input type="text" id="first-name" name="first_name">
  <br>
  <label for="second_name">Second Name: </label>
  <input type="text" id="second-name" name="second_name">
  <br>
  <label for="house_id">House: </label>
  <select name="house_id" id="house">
    <% for house in @houses %>
    <option value="<%= house.id %>"><%= house.name %></option>
    <% end %>
  </select>
  <br>
  <label for="age">Age: </label>
  <input type="number" min="0" id="age" name="age">
  <br>
  <input type="submit" value="Create Student">
</form>
