<p>Edit the merchants here:</p>
<form class="merchant--edit" action="/merchants_and_tags/merchant/<%= @merchant.id %>" method="post">
  <label for="merchant">Merchant: </label>
  <input type="text" id="merchant" name="name" value="<%= @merchant.name %>" required>
  <input type="submit" value="Edit">
</form>
<form action="/merchants_and_tags/merchant/<%= @merchant.id %>/delete" method="POST">
  <label for="delete">Warning, deleting this merchant will remove related transactions from your tracker!</label>
<input id="delete" type="submit" value="delete" />
</form>
